<img ng-src="{{mainImageUrl}}" class="car">

<h1 style="color:blue;font-family: Magneto;">{{car.name}}</h1>
<br><br>
<p style="color:gray;font-size:15px;">{{car.description}}</p>

<ul class="car-thumbs">
  <li ng-repeat="img in car.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
 <span> Manufacturer </span>
 <dl><dt>{{car.Manufacturer}}</dt></dl>
 </li>

 <li>
  <span> Price </span>
  <dl><dt>{{car.Price}}</dt></dl>
 </li>
<li>
 <span> Length </span>
 <dl><dt>{{car.Length}}</dt></dl>
 </li>
 <li>
  <span> WheelBase</span>
  <dl><dt>{{car.WheelBase}}</dt></dl>
 </li>

  <li>
   <span> Horse Power </span>
   <dl><dt>{{car.HP}}</dt></dl>
 </li>

<li>
 <span> Power </span>
 <dl><dt>{{car.Power}}</dt></dl>
 </li>
 <li>
 <span> Availability </span>
 <dl><dt>{{car.Available | checkmark}}</dt></dl>
 </li>
</ul>
